<!DOCTYPE html>
<html>
  <head>
    <title>Flask-MongoDB Book App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Flask-MongoDB Book App</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('list_books')}}">All Books</a> |
          <a href="{{ url_for('add_book')}}">Add Book</a>
        </p>
      </header>
      <main>
        {% block content %}{% endblock %}
      </main>
      <footer>
        <p>
          The source code for this example app is
          <a href="https://github.com/dbdesign-students-spring2024/7-web-app-cyischristy.git">available on Github</a>.
        </p>
      </footer>
    </div>
  </body>
</html>
