<!DOCTYPE html>
<html>
<head>
    <title>Edit Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Edit Book</h1>
            <p>
                <a href="{{ url_for('home')}}">Home</a> |
                <a href="{{ url_for('books')}}">All Books</a>
            </p>
        </header>
        <main>
            <h2>Edit Book Details</h2>
            <form action="{{ url_for('edit_book', book_id=book._id) }}" method="POST">
                <label for="title">Title:</label><br>
                <input type="text" id="title" name="title" value="{{ book.title }}"><br>
                <label for="author">Author:</label><br>
                <input type="text" id="author" name="author" value="{{ book.author }}"><br>
                <label for="year">Year:</label><br>
                <input type="number" id="year" name="year" value="{{ book.year }}"><br><br>
                <input type="submit" value="Submit">
            </form>
        </main>
        <footer>
            <p>
                The source code for this example app is
                <a href="https://github.com/nyu-database-design/flask-mongodb-web-app">available on Github</a>.
            </p>
        </footer>
    </div>
</body>
</html>